* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: montserrat;
}

nav {
    background: #dec2ba;
    height: 80px;
    width: 100%;
}

img.logo {
    color: white;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
    height: 80px;
}

nav ul {
    float: right;
    margin-right: 20px;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a {
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}

a.active,
a:hover {
    background: #dec2ba;
    transition: .5s;
}

.checkbtn {
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

/* search */

.search {
    position: absolute;
    top: 120px;
    left: 50%;
    width: 90%;
    transform: translate(-50%, -50%);
}

input {
    position: relative;
    display: inline-block;
    font-size: 20px;
    box-sizing: border-box;
}

input[type=text] {
    background: #f3f3f3;
    width: 80%;
    height: 45px;
    border: none;
    outline: none;
    padding: 0 25px;
    border-radius: 25px 0 0 25px;
}

input[type=submit] {
    background: #dec2ba;
    position: relative;
    border-radius: 0 25px 25px 0;
    width: 15%;
    height: 45px;
    border: none;
    outline: none;
    cursor: pointer;
    color: white;
}

.header {
    margin: 80px;
    text-transform: uppercase;
    text-align: center;
    line-height: 2;
    font-size: 18px;
}

.underline {
    margin: 0 auto;
    background-color: #dec2ba;
    width: 25%;
    height: 2px;
}

.product {
    margin-bottom: 50px;
}

.product-table {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    border-collapse: collapse;
}

.product-table td {
    width: 33%;
}

div.product-cell {
    margin: 5px;
    padding: 10px;
    border: 1px solid #ddd;
    background: #f2f2f2;
    border-radius: 5px;
}

img.product-img {
    width: 100%;
    height: auto;
}

div.product-name {
    font-weight: bold;
    font-size: 1.1em;
    padding: 10px 0;
}

div.product-price {
    color: #f44242;
}

div.product-desc {
    color: #888;
    font-size: 0.9em;
    padding: 10px 0 10px 0;
}

button.product-add {
    background: #dec2ba;
    color: #fff;
    border: none;
    width: 100%;
    padding: 10px;
    font-size: 1.1em;
    font-weight: bold;
    cursor: pointer;
    border-radius: 3px;
}

button.product-add:hover {
    background: #dbd0cd;
}

.footer {
    position: block;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #dec2ba;
    color: white;
    display: inline;
    float: left;
    padding: 10px 25px;
}

.copyright {
    text-align: center;
}